
<%- include("header") -%>
<h2>This is Vikash Chaudhary</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis illo cum vitae delectus itaque facere unde autem, ipsum fugit suscipit rerum fugiat magni. Nemo unde itaque nisi ratione corrupti.</p>

<%- include("footer") -%>